@charset "UTF-8";

body{
    background-color:rgb(197, 221, 240);
}

a{  
    position: fixed;
    right: 0;
    margin: 20px;
    border-radius: 50%;
}

a:hover{
    margin-top: 10px;
    margin-right: 28px;
}

a#home{
    top: 10px;
}

a#insta{
    top: 90px;
}

a#github{
    top: 170px;
}

a#twitter{
    top: 250px;
}

.opcao{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.opcao:hover{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.573);
    border: 1px solid rgb(134, 134, 247)
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 473px;
}


